* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

html,
body {
  background: #07090f;
  color: #c2cfb2;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.speaking img {
  box-shadow: 8px 8px 20px -6px rgba(0, 0, 0, 0.8);
}

