.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #07090f;
}

.imgContainer {
  width: 500px;
  height: 600px;
  position: relative;
  top: -5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.desc{
  transform: rotate(90deg);
  transform-origin: left top;
  position: absolute;
  right: -190px;
  bottom: 27%;
  font-size: 10px;
}

.title {
  text-wrap: wrap;
  font-weight: 300 !important;
  color: #F5DFDC;
  font-size: 2rem;
  font-weight: 600;
}
